<h2>Käyttäjän Tiedot</h2>

<p>
Tunnus: <%= h @user.name %>
</p>
<%= link_to 'Muokkaa asetuksiasi', edit_user_path(@user) %> |
<%= link_to 'Takaisin kursseihin', courses_path %>

<p>
<hr>
<%= link_to 'Poista rekisteröinti', @user, :confirm => 'Todellako?', :method => :delete %>
	
</p>