<p>
  <b>Number:</b>
  <%=h @exercise_group.number %>
</p>

<p>
  <b>Lecture time:</b>
  <%=h @exercise_group.lecture_time %>
</p>


<%#= link_to 'Edit', edit_exercise_group_path(@exercise_group) %> |
<%#= link_to 'Back', exercise_groups_path %>