<p>
  <b>Lecture time:</b>
  <%=h @course_instance.lecture_time %>
</p>

<% @course_instance.exercise_groups.each do |eg| %>
<p>
	
<%= link_to eg.id, course_course_instance_exercise_group_path(@course_instance.course, @course_instance, eg) %><br/>
	
</p>
<% end%>
	
	


<%#= link_to 'Edit', edit_course_instance_path(@course_instance) %> |
<%#= link_to 'Back', course_instances_path %>