<h2>Kurssilistaus</h2>


<% @categories.each do |cat| %>
<h3><%= cat.name %></h3>
<ul>
	<% cat.courses.each do |course|%>
	<li>
		<%= link_to (h course.name) , course %>
	</li>
	<% end %>
</ul>
<% end %>

<h3>Ilman kategoriaa</h3>
<ul>
<% @courses.each do |course| %>
  <li><%= link_to (h course.name) , course %>
   	<!-- 
	<td><%#= h course.description %></td>
    <td><%#= link_to 'Näytä', course %></td>
    <td><%#= link_to 'Muokkaa', edit_course_path(course) %></td>
    <td><%#= link_to 'Poista', course, :confirm => 'Oletko varma?', :method => :delete %></td>
	-->
  </li>
<% end %>
</ul>


<br />

<%= link_to 'Luo uusi kurssi', new_course_path %>